[2020-02-11 22:33] justnoise opened #13 "When terminated, pods need to be deleted from the registry"
When we were building milpa, we used to keep pods around in the registry for 3 minutes after they had been terminated.  This was simply to allow users to inspect old pods for debugging.

We need to get rid of this behavior and delete pods from the registry once they have been terminated.

[2020-02-26 20:31] #13 closed, assigned to justnoise

[2020-02-26 20:35] justnoise opened #22 "Investigate: Buffered nodes/cells are mistakenly shut down"
From watching a cluster with lots of pods starting and stopping, it appears that buffered nodes are started then occationally stopped without running a pod.  This should not happen unless a pod is deleted before it can run.

I noticed this happening when running the conformance tests in parallel and warrants a bit of an investigation into why those nodes are being shut down.  Might take a good bit

[2020-02-26 22:48] justnoise opened #25 "Cleanup Legacy Issues"
General cleanup:
- I like using `kipctl` for debugging but that shouldn't use github.com/elotl/kip/pkg/labels, switch to using k8s implementation if possible.
- It would be nice to switch from `util.WrapError` to the standard methods for wrapping errors. We would need to make sure that everyone is using go >= 1.13.  That shouldn't be an issue.
- Switch error messages from "milpa" to "kip"
- Lowerc

[2020-02-27 22:58] justnoise opened #26 "Renaming milpa to kip"
We have a lot of names in the codebase from when kip was called Milpa the software was a pretty cool stand-alone management controller.  That time has passed and those references to Milpa need to be changed.  I'm trying to keep track of those things here.

Easy to change
- [x] security groups
- [x] instances (node->cell, milpa -> kip)
- [x] server.yml -> kip.yml or virtual-kubelet-provider.yml
- [

[2020-02-28 23:40] justnoise opened #28 "Open Sourcing Checklist"
- [x] Open Source Itzo (readme, license, headers)
- [x] Open Source Tosi (license, headers)
- [x] Open Source wsstream (brief readme, license, headers)
- [x] Open Source our version of cloud-init
- [x] Documentation
- [x] Change the name of this repo to kip
- [x] Add license and headers to kip repo
- [x] Add cell controller and CRD back in
- [x] Use standard cloud-init file
- [x] Move build to Tra

[2020-03-02 23:22] myechuri opened #30 "Add diagram for terraform deploy env"
It would be helpful to the user to have a pictorial representation of the components deployed by [terraform deployer](https://github.com/elotl/cloud-instance-provider/tree/master/deploy/terraform) similar to [this picture](https://github.com/elotl/kubeadm-aws/blob/master/nodelessk8s-hybrid.png).

[2020-03-02 23:39] justnoise opened #31 "Make sure all annotations are working"
Currently spot instance/launch-type annotation isn't working.

[2020-03-03 19:39] #30 closed, assigned to myechuri

[2020-03-06 00:47] #31 closed, assigned to nobody

[2020-03-10 20:22] myechuri opened #39 "Deleted pod stuck in "Terminating" state"
Workflow:
- Create nginx deployment
- Delete nginx deployment
- Delete VK pod (system spun out a new VK pod to honor deployment's `replicas=1`)
- Create nginx deployment

`kubectl get pods` shows one nginx pod stuck in `Terminating` state. There is no `cell` corresponding to this pod.

[code]

VK + KIP log:
[code]

[2020-03-12 19:58] myechuri opened #44 "VK+KIP displays cells from a previous incarnation"
1) Created 1 node vk+kip cluster - incarnation1 (KipControllerID `2qs4mvn2pza6teedd6hfz5hiky`)
2) Deployed nginx deployment with 1 replica - incarnation1
3) Deleted nginx deployment
4) Deleted virtual-kubelet deployment
5) Created virtual-kubelet deployment - incarnation2 (KipControllerID `72oxoqlbgrgjrleablteitvrxu`)
`kubectl get pods` shows zero pods.
`kubectl get cells` shows nginx and kube-pro

[2020-03-17 23:13] myechuri opened #47 "Request for documentation for simple multi-cloud deployment"
It would be helpful to user to have instructions similar to [https://github.com/elotl/kip/blob/master/deploy/terraform/README.md](https://github.com/elotl/kip/blob/master/deploy/terraform/README.md) for multi-cloud setup. Sample multi-cloud setup could include {minikube cluster + kip} on MacBook shipping pods to AWS.

[2020-03-20 19:44] justnoise opened #49 "[Conformance] Virtual-Kubelet limits number of log lines"
Kubelet's behavior is to display > 1000 log lines when getting logs with no options.  Virtual Kubelet, however, asks for 10 lines by default.  This ends up truncating log lines when running conformance tests and tests fail.

I believe the following tests are affected by this issue:

- [k8s.io] Pods should contain environment variables for services [NodeConformance] [Conformance]
[k8s.io] Variable

[2020-03-25 02:33] justnoise commented on #49
Looks like there are already 2 PRs that fix this in different ways:
- https://github.com/virtual-kubelet/virtual-kubelet/pull/806
- https://github.com/virtual-kubelet/virtual-kubelet/pull/821

[2020-03-25 02:35] justnoise commented on #26
I'm OK with how far we got on this issue before our release.  We can update milpa log lines in time, the paths in etcd will stay for a while.

[2020-03-25 02:35] #26 closed

[2020-03-25 02:35] #28 closed

[2020-03-25 02:36] #39 closed

[2020-03-26 16:54] justnoise opened #52 "Example manifests need to protect kip's internal storage/state"
Kip keeps an internal storage of:

- Identity
- CA
- Pods and Nodes

If a kip deployment is restarted without preserving the PersistentVolume kip's state is stored on, all pods will be restarted and the previous kip cells will be orphaned in the cloud since kip's identity will be recreated as well.  We've talked about this in other discussions in slack.

Todo:

- [x] Ensure our deployment scripts

[2020-04-01 20:42] myechuri commented on #47
https://github.com/elotl/kip/tree/master/deploy/terraform-vpn fixes this issue.

[2020-04-01 20:42] #47 closed

[2020-04-08 23:48] justnoise opened #60 "Support per-unit resource resource requests/limits"
1. Document that kip currently doesn't support per-unit resource restrictions
2. Add resources to Kip units
3. Add cgroup support for per-unit resource limits in itzo
4. Update envVars with resourceFieldRefs to populate resource limits

[2020-04-15 04:24] justnoise opened #65 "Use Timers instead of Tickers in pod_controller's ControlLoop"
The control loop for the PodController has a lot of cases with multiple tickers that can fire.  Some of the ticker case statements could take seconds to run under very heavy loads and there are two tickers that run frequently (`controlTicker` and `statusTicker`) If one of the cases blocks is slow to run, that case could run repeatedly, starving other cases from running. That would be bad.

Lets sw

[2020-04-15 07:59] myechuri opened #66 "Test cluster's registry-cred pod stuck in PodInitializing state"
Provisioned test cluster using https://github.com/elotl/kip/tree/master/deploy/terraform . The cluster came up fine, but `registry-cred` pod is stuck in `PodInitializing` state.

[code]

[code]

[code]

[code]

[2020-04-16 16:07] ldx commented on #66
I'm not sure that error in the log is the problem. I provisioned a new cluster:

[code]

but I'm getting the same error:

[code]

It'd be interesting to see what kip thinks about the pod state, and kip logs to see the state changes.

[2020-04-17 09:52] myechuri commented on #66
Thanks, @ldx ! KIP + vk logs for the pod:

[code]

[2020-04-22 00:51] ldx commented on #66
@justnoise any idea? Based on the logs, the state transition in Kip looks correct.

[2020-04-22 21:08] ldx commented on #66
Oh, another problem might be if the pod has probes configured and they fail for some reason. Getting the full pod status via `get pod <registry-pod-...> -oyaml` could be used to confirm this.

[2020-04-27 18:36] ldx opened #70 "Generate Kubelet API certificate for Kip"
Right now we mount in the cert from the kubelet Kip runs on (from /var/lib/kubelet/pki). However, this is very inelegant and not something that should be used in production.

Instead, we could generate a certificate for Kip ourselves, either in an init container, or in Kip when it starts up and there's no certificate. The certificate could then be stored on the persistent volume. See https://githu

[2020-05-05 01:02] justnoise opened #72 "On GCE Nodes that fail to dispatch are stuck in Cleaning for too long"
If we fail to dispatch a pod to a node (maybe the user specified a security group that doesn't exist), the node is returned to the NodeController but the node remains in the "Cleaning" state for 2 minutes.  It appears kip is requesting the node logs but the logs call is not returning.

1. We need to time out that call sooner.
2. We need to find out why that's happening on the itzo side.

[2020-05-06 08:18] myechuri opened #75 "GKE: Symlinked kubelet client certs need to be resolved"
GKE worker node's pki certs are symlinks:

[code]

Using `kubelet-client-current.pem` as cert location did not work. `overlays/gke/deployment.yaml`:
[code]

Above deployment results in vk+kip failed with below error:

[code]

Workaround: updating `deployment.yaml` with below helped me get past the error:
[code]

[2020-05-06 15:43] ldx commented on #75
These certs should be the ones generated for serving the kubelet API, not the kubelet client certs.

See also #70 for how to fix this for the long term. Kip should generate its own certificates, not share and reuse existing kubelet certs. It should be pretty easy to fix, but it needs to go in node-cli, since the http server is set up via node-cli.

[2020-05-06 23:02] justnoise opened #76 "GCE Instances are not terminated fully"
This one is strange: It seems like we can tell GCE to terminate an instance, we get an OK back from the API and then the instance isn't terminated.  The node inside kip is stuck in the "terminating" state

[code]

I'm unsure if the most recent work to check the status of operations will help with ensuring the nodes are terminated.  Might need to handle more cases in the Garbage Controller.

[2020-05-06 23:07] jrroman commented on #76
@justnoise I do know both "insert" and "delete" do in fact return operations I just looked back at my updates I realized i missed adding a wait on operation to the deletion of the node. I am going to just double check all methods that return ops are being checked.

[2020-05-06 23:37] jrroman commented on #76
I updated `StopInstance` to include this in my most recent commit https://github.com/elotl/kip/commit/d7b41e6e292cf53cf5262b03ffd441b4f7e23a5b

[2020-05-07 16:00] justnoise commented on #76
We would prefer to fire and forget the stop instance request since we don't need to wait around for that operation.  In the rest of the kip code we don't do anything after calling StopInstance so making the call fully synchronous doesn't seem to buy us much.  GCE takes a while to fully stop instances and would slow down functional tests a fair amount (when we get there).  Overall our goal is to te

[2020-05-07 16:26] justnoise opened #78 "GCE client: does not automatically reconnect after network disruption"
I disconnected and reconnected to wifi while running itzo from my laptop.  After the reconnect, all GCE operations timed out.  I'd like to see if we can detect these types of problems and get the client to reconnect in a timely manner.

[2020-05-08 23:57] myechuri opened #82 ""kubectl get cells" shows cells from past incarnations of Controller"
Setup: minikube on MacBook with VK shipping pods to GCE.

`kubectl get pods` does not show any `nginx` pods, but `kubectl get cells` shows `nginx-deployment-66f967f649-9b8zj`.
[code]

Cell for `nginx-deployment-66f967f649-9b8zj` is listed with instance id `i-0ec6eabbae4ca4c6b` which corresponds to a cell running on AWS from a previous incarnation of vk which shipped pods to AWS.

<img width="1183"

[2020-05-09 00:03] myechuri commented on #82
ControllerID of current incarnation:

[code]

ControllerID of the cells reported: `2qs4mvn2pza6teedd6hfz5hiky`

[2020-05-11 18:02] ldx opened #83 "Use correct root device name when creating instance"
Right now, "xvda" is hardcoded when we call RunInstances(). However, the name of the root device depends on the AMI. We need to check and save BlockDeviceMappings[0].DeviceName from DescribeImages(), and use it when creating a new instance.

Example result from DescribeImages():

        {
            "VirtualizationType": "hvm",
            "Name": "ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64

[2020-05-12 02:16] myechuri commented on #75
Thanks for clarifying, @ldx . By using `/etc/kubelet-pki/kubelet-client-2020-05-05-06-52-14.pem` , i am essentially sharing one cert between kubelet where vk runs, and the virtual worker exposed by vk, right? Two followups:

1) Is this the best workaround until #70  is fixed?
2) If answer to above is yes, we would need to figure out a way to supply the right cert name (like `/etc/kubelet-pki/kubel

[2020-05-12 04:21] ldx commented on #75
kubelet-client-2020-05-05-06-52-14.pem is probably the client cert, for serving its API the kubelet uses the other cert (unless GKE has different making conventions for the kubelet certs). I think the easiest way would be fixing it as suggested in #70

[2020-05-14 23:48] ldx commented on #70
@myechuri for now, we can make the symlinks work via mounting it into the right directory on VK:

        env:
        - name: APISERVER_CERT_LOCATION
          value: /var/lib/kubelet/pki/kubelet-client-current.pem
        - name: APISERVER_KEY_LOCATION
          value: /var/lib/kubelet/pki/kubelet-client-current.pem

        volumeMounts:
        - mountPath: /var/lib/kubelet/pki
          name:

[2020-05-15 18:45] justnoise opened #85 "Need to capture root disk size from image"
Now that we've opened images up to allow the user to bring any image they want (assuming it has cloud-init installed), we need to start our instances with the correct minimum root volume size.  The root volume can't be smaller than the root disk image.

When querying for the boot image, we probably also want to store the retrieved image size and use that as the minimum specified size when booting

[2020-05-16 17:08] ldx commented on #49
https://github.com/virtual-kubelet/virtual-kubelet/pull/806 has been merged, so this should be fixed.

[2020-05-16 17:08] #49 closed

[2020-05-16 17:09] ldx commented on #82
Isn't this the same as #44?

[2020-05-16 17:11] ldx commented on #85
We can do it in a similar way as in #84?

[2020-05-18 16:22] justnoise commented on #85
I think that would work. It looks like both `describe-images` in AWS and `images.get` in GCE return the necessary info.  We can shove the disk size into the `cloud.Image` structure.

[2020-05-18 18:04] #83 closed

[2020-05-20 18:00] ldx opened #91 "Set cluster-level GKE metadata entries for cells"
System pods in GKE expect the following metadata labels to be present for instances:
- cluster_name
- instance_id
- location
- node_name
- project_id

Even though we don't strictly need the system pods to be running via Kip, it's a bad UX that they start up automatically and will keep crashing due to the lack of these metadata on their instances. It should be easy for kip to check these labels for

[2020-05-20 20:06] ldx opened #92 "Associate GCE service account with logging and monitoring API access to cell VM instances"
Applications running on the VM use the service account of the instance to call Google Cloud APIs. We need a service account for cells that has the permissions "logs.write" and "monitoring.write", so that we can run the monitoring and logging agents.

[2020-05-20 20:07] ldx commented on #92
https://cloud.google.com/monitoring/agent/authorization
https://cloud.google.com/logging/docs/agent/authorization

[2020-05-20 20:48] ldx opened #93 "Expose node metrics from Kip in prometheus metrics format"
Right now we only expose metrics in the old JSON stats format. However, to integrate with Prometheus + Stackdriver on GCE, we need the new /metrics API.

[2020-05-20 21:27] ldx opened #94 "Use default metrics port 10255"
Metrics-server is usually part of monitoring stacks for Kubernetes clusters. It queries kubelets via their metrics API, which is usually exposed via port 10255.

We've been running Kip in host network mode, thus moving the metrics endpoint to a different port. However, metrics-server can only set the metrics port on a per cluster basis, thus either monitor only virtual-kubelet instances or regular

[2020-05-20 21:48] ldx opened #95 "Exec is broken"
See https://github.com/virtual-kubelet/node-cli/pull/19

[2020-05-20 22:23] justnoise opened #96 "Support dockerconfigjson registry secrets"
In k8s, the standard way to encode registry secrets is:
[code]

This produces a secret that looks like:

[code]

The decoded json looks like:

[code]
Kip pulls out image secrets and sends them to cells in a structure containing {server, username, password}.  We should try to pull that data out of a docker formatted secret.

Lets update kip to correctly pull out the necessary data from a docerconfi

[2020-05-21 00:22] ldx opened #97 "Expose all ContainerStats CPU and memory metrics via /stats"
Right now we're only exposing the bare minimum via /stats, e.g.:

         "containers" : [
            {
               "cpu" : {
                  "time" : "2020-05-20T23:25:59Z",
                  "usageNanoCores" : 115094566
               },
               "memory" : {
                  "usageBytes" : 966656,
                  "workingSetBytes" : 839680,
                  "time" : "2020-05-20

[2020-05-21 00:24] ldx commented on #70
This has been fixed via d99177fa

[2020-05-21 00:24] #70 closed

[2020-05-21 00:25] ldx commented on #75
This has been fixed via d99177f

[2020-05-21 00:25] #75 closed

[2020-05-21 00:30] ldx commented on #66
I think this was due to either the node start race condition fixed in 764384af, or the pod status update fix in 283e979. Both are now in master.

[2020-05-21 00:30] #66 closed

[2020-05-22 20:05] justnoise opened #100 "GCE: Improve check for ConnectWithPublicIPs()"
Our check for `ConnectWithPublicIPs()` is `metadata.OnGCE()`.  That isn't sufficient.  We also need to make sure the controller is inside the same GCE private network as the client is configured to use.

To fix this, we can use `gceClient.detectCurrentVPC()` and ensure that matches the configured VPC.

[2020-05-27 18:55] justnoise opened #104 "Need to run GCE functional tests"
We need to create GCE functional tests that are similar to the AWS tests then we need to add GCE functional tests into the build.

[2020-05-27 19:03] #96 closed

[2020-05-27 22:34] ldx opened #106 "Creating GCE external load balancer fails"
The GCE cloud provider in k8s does not like the fact that there's no cloud instance called virtual-kubelet:

default     3s          Normal    EnsuringLoadBalancer         service/nginx          Ensuring load balancer
default     3s          Warning   CreatingLoadBalancerFailed   service/nginx          Error creating load balancer (will retry): failed to ensure load balancer for service default/ng

[2020-05-28 20:06] justnoise commented on #82
Closing.  Duplicate of #44.

[2020-05-28 20:06] #82 closed

[2020-05-28 20:44] ldx opened #107 "Virtual-kubelet removes dangling pods"
I've seen this happening a few times: I kill the VK pod, the deployment starts a new one. Usually it comes up fine and the pods running via VK are kept intact. However, once in a while (usually when it takes a bit longer for VK to start up), although VK can find the pods in the provider, when listing them in Kubernetes, they are not there. So it will think they are all dangling pods and will remov

[2020-05-28 23:52] justnoise commented on #91
Our virtual-kubelet node has the following metadata keys present on the instance:
[code]

In PR https://github.com/elotl/kip/pull/108 I've added 3 of those keys to each instance we start. With that change, DaemonSets start correctly and report that they're running but any container having to do with stackdriver has errors in their logs:

[code]

I we should consider what to do about handling servi

[2020-05-29 01:30] ldx commented on #91
I think sooner or later we'll have to add a service account to cells that allows logging and monitoring agents to send data to stackdriver. That might also fix the complaining daemonsets, though if they don't get into a crash loop, that's good enough.

[2020-05-29 01:56] ldx commented on #94
Fixed via https://github.com/elotl/kip/pull/103

[2020-05-29 01:56] #94 closed

[2020-05-29 01:57] ldx commented on #97
Fixed via https://github.com/elotl/kip/pull/103

[2020-05-29 01:57] #97 closed

[2020-05-31 00:02] ldx opened #113 "Full support for projected volumes"
Right now Kip only supports configmap and secret sources:

    // Projection that may be projected along with other supported volume types
    type VolumeProjection struct {
    	// all types below are the supported types for projection into the same volume

    	// information about the secret data to project
    	// +optional
    	Secret *SecretProjection `json:"secret,omitempty"`
    	// // inf

[2020-05-31 00:06] ldx commented on #106
Add the `alpha.service-controller.kubernetes.io/exclude-balancer` or `node.kubernetes.io/exclude-from-external-load-balancers` label to the virtual-kubelet node excludes it from LBs. However, this needs the `ServiceNodeExclusion` feature gate, which is still alpha in Kubernetes: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

Creating an alpha cluster in GKE will

[2020-06-01 16:33] ldx commented on #106
`ServiceNodeExclusion` will graduate to beta and will be on by default in 1.19: https://github.com/kubernetes/kubernetes/commit/2369ef090e4f493a8c960c4107bd18f308d37aa2

[2020-06-01 19:08] ldx commented on #106
Adding the `alpha.service-controller.kubernetes.io/exclude-balancer` label will make gce-ingress work (not with container-native load balancing, though).

[2020-06-01 22:06] ldx commented on #91
Fixed via https://github.com/elotl/kip/pull/108

[2020-06-01 22:06] #91 closed

[2020-06-01 22:07] ldx commented on #100
Fixed via #109

[2020-06-01 22:11] #100 closed

[2020-06-02 19:19] #52 closed

[2020-06-03 16:08] ldx commented on #107
Probably related to https://kubernetes.io/docs/concepts/architecture/nodes/#condition:

So if Kip does not come up in 40s after a restart, the node Ready condition will change to "Unknown". That 40s seems to be in line with what I'm seeing when pods are removed after a restart.

[2020-06-04 04:59] justnoise opened #119 "Naming in pkg/util/cloudinitfile is terrible"
The whole package is called cloudinitfile and inside the package there are 2 File types, one called CloudInitFile that isn't the CloudInitFile that the package is referring to.  This is all a result of moving a bunch of types out of elotl/cloud-init and into kip to get around possible issues related to coreos's yaml library license.

[2020-06-04 16:44] ldx commented on #95
Workaround in VK: https://github.com/virtual-kubelet/virtual-kubelet/pull/833

Fix in elotl/node-cli: https://github.com/elotl/node-cli/pull/2

[2020-06-04 18:11] ldx commented on #93
See https://github.com/virtual-kubelet/virtual-kubelet/issues/418 for a related discussion on prom metrics in VK.

[2020-06-04 19:07] justnoise opened #121 "Need to rename virtual-kubelet images, etc. 'kip'"
In order to brand and sell kip on marketplaces, we should rename our images and other resources "kip" instead of virtual-kubelet.

[2020-06-09 09:39] ddysher opened #124 "kip host cluster requirement"
Hi, thanks for open sourcing the project. We have a use case where the cluster is running in a private cloud but we want to extend the workload to the cloud. Specifically, we want to train a model using Cloud GPU. The data already present in S3 and we just need to train the model and save the model back to S3, so I'd expect we won't need most of the features in Kubernetes. Does kip support the use

[2020-06-09 15:12] myechuri commented on #124
@ddysher : thanks a lot for checking out kip!

Can you please confirm the following?
1) Your on-prem cluster is running kubernetes control plane
2) The model training workload that you would like to burst to AWS is containerized and you would like to schedule it via on-prem kubernetes control plane

If the answers to above two questions are "yes", then yes your usecase is supported. You will not n

[2020-06-09 15:24] #121 closed

[2020-06-09 15:28] ldx commented on #92
Fixed in #114

[2020-06-09 15:28] #92 closed

[2020-06-09 23:04] myechuri commented on #124
@ddysher : [here](https://youtu.be/cZEcdTOwV-A?t=4135) is a demo of the on-prem kubernetes control plane shipping pods to AWS. We will be doing a live demo of the same on wednesday 10am PT during [CNCF webinar](https://zoom.us/webinar/register/8015900651736/WN_YkD_x-8sSxWz3D3w1IeXew) if you are interested. You can also deploy a test setup using [https://github.com/elotl/kip/tree/master/deploy/terr

[2020-06-15 22:56] ldx opened #131 "Remove resources if the provider is deleted"
There are resources created by Kip during runtime:
- Instances for cells.
- Firewall rules or security groups.
- Cell CRDs.
- (Anything else?)

When a Kip instance is removed, the node will be removed soon by the control plane. However, all the VM instances, cell CRDs and SGs/firewalls that were active at that point will stay behind.

We need a way to detect when the Kip controller instance is gon

[2020-06-15 22:58] ldx commented on #44
Created #131 to deal with all resources left behind by a deleted Kip instance.

[2020-06-15 22:58] #44 closed

[2020-06-18 17:31] myechuri opened #132 "Enable usage of custom VM size on GCP"
Certain cloud providers, like GCP, offer creation of custom VM sizes (ex: 1vcpu, 13GB) instead of picking from boilerplate VM sizes (ex: `c2-standard-4`, `n1-standard-8`). If a kip user's application resource form factor is not a close fit for a boilerplate VM size, using boilerplate VM size leads to wasted resources (and compute spend). It would be useful to such kip users to consume custom VM si

[2020-06-19 21:06] ldx opened #135 "Support for Compute Engine virtual network interface"
The Compute Engine virtual network interface provides a more efficient delivery network for sending traffic to and from GCE VM instances. The Compute Engine virtual network interface is required to support higher network bandwidths such as the 50-100 Gbps speeds that can be used for distributed workloads on instances that have attached GPUs.

https://cloud.google.com/compute/docs/instances/create-

[2020-06-22 21:21] myechuri commented on #124
@ddysher : checking in to see if you had a chance to try out kip for bursting your workload to AWS and if you have any questions/concerns and/or blocker issues. Thanks!

[2020-06-25 13:28] jrroman commented on #132
Can this issue be closed since it PR #136 was merged?

[2020-06-25 13:47] myechuri commented on #132
Thanks, @jrroman , for pointing out! Closing.

@ldx : thanks for the PR!

[2020-06-25 13:47] #132 closed

[2020-07-01 11:45] saiharshitachava opened #141 "I have a private AWS setup an I want to change the AWS URL which kip is trying to connect"
I have a private AWS setup an I want to change the AWS URL..How do I do that

Right now I guess its going to public AWS env..I see options of key ID and  region can I explicitly set URL as well?

Error: error initializing provider kip: error configuring cloud client: Error setting up cloud client: Could not configure AWS cloud client authorization: Error validationg connection to AWS: RequestError

[2020-07-01 14:42] saiharshitachava commented on #141
I did try giving the VPC ID in my provider yaml..dint work out..
Any help here @myechuri  @justnoise

[2020-07-01 14:56] myechuri commented on #141
@saiharshitachava : can you please clarify the following?

1) How did you deploy kip?

a) Did you provision a new cluster using https://github.com/elotl/kip/tree/master/deploy/terraform-aws by following documentation at https://github.com/elotl/kip#installation-option-1-create-a-minimal-k8s-cluster?

Or

b) Did you deploy kip onto an existing cluster using https://github.com/elotl/kip#installation

[2020-07-01 15:03] saiharshitachava commented on #141
@myechuri I deployed kip on existing cluster using the files in base
I used the option of api keys

apiVersion: v1
cloud:
  aws:
    region: "us-east-1"
    accessKeyID: "******"
    secretAccessKey: "******"
    vpcID: "Gave my internal VPC ID found in AWS VPC section"
etcd:
  internal:
    dataDir: /opt/kip/data
cells:
  bootImageSpec:
    owners: 68949425850dd1
    filters: name=elotl-kip-*
  d

[2020-07-01 15:18] myechuri commented on #141
Thanks, @saiharshitachava . Can you please clarify if you filled in `accessKeyID` and `secretAccessKey` in your provider.yaml or did you leave them empty?

[code]

[2020-07-01 15:20] saiharshitachava commented on #141
Nope I did give them..I just stripped them out before posting here @myechuri

[2020-07-01 15:29] myechuri commented on #141
Thanks, @saiharshitachava . A couple more questions:

1) When you say `I have a private AWS setup`, do you mean you have a private VPC or something else?

2) In your provider.yaml, can you please confirm that the `vpcID` listed below does contain the cluster that you are trying to deploy kip to?

[code]

3) Is the cluster you are deploying kip to an EKS cluster or provisioned via kops or some othe

[2020-07-01 15:43] saiharshitachava commented on #141
When you say I have a private AWS setup, do you mean you have a private VPC or something else?---Yes we have a private VPC

In your provider.yaml, can you please confirm that the vpcID listed below does contain the cluster that you are trying to deploy kip to?---I have an existing cluster in onprem..Im trying to estblish virtual kubelet which is of AWS provider in onprem cluster

Is the cluster yo

[2020-07-01 15:58] myechuri commented on #141
Thanks, @saiharshitachava , super helpful.

Do you have a VPN Gateway set up for the target VPC?

We have successfully deployed kip on an existing on-prem cluster and shipping pods to AWS with a VPN Gateway using https://github.com/elotl/kip/tree/master/deploy/terraform-vpn#vpn-setup . Hence curious to learn if you have VPN Gateway for the VPC.

[2020-07-01 16:17] saiharshitachava commented on #141
Im sorry Im like quite new to AWS as well:)

So you are saying unless I create a Site to Site VPN Connection AWS VPC cannot communicate with onprem..?

And kip deploy from onprem to AWS definetely should go through VPN connections to work?

I dont see any VPN connections for my VPC

[2020-07-01 17:22] myechuri commented on #141
Thanks, @saiharshitachava .

VPN is not necessary - asked because i wanted to find out what your current setup involved.

1) Can you please add `subnetID` key value pair in provider.yaml? https://github.com/elotl/kip/blob/master/deploy/manifests/kip/overlays/minikube/provider.yaml#L9
Where did you get your `provider.yaml` template from?

2) Can you please share more about your on-prem control plan

[2020-07-01 17:33] saiharshitachava commented on #141
I got the provider yaml from base ..I changed a few parameters for testing sake
https://github.com/elotl/kip/blob/master/deploy/manifests/kip/base

We run IBM Cloud private on vmware nodes..

I will also try adding subnet details and let you know the results

Also the main thing I noticed here is kip trying to reach might be public cloud here(I guess)..Is there a way I can pass my private AWS URL

[2020-07-01 17:57] myechuri commented on #141
Thanks, @saiharshitachava .

Look forward to hearing back on what you saw after subnetID is added.

Kip uses [aws-sdk-go](https://github.com/elotl/kip/blob/master/pkg/server/cloud/aws/aws.go#L27)client to [setup EC2 session](https://github.com/elotl/kip/blob/master/pkg/server/cloud/aws/aws.go#L64). Can you please share a little more details on `private AWS URL` that you use to connect to AWS sdk?

[2020-07-01 22:12] justnoise commented on #141
Hi @saiharshitachava, thank you for giving Kip a try!  I'm sorry to hear that you experienced problems with your setup.  If I understand it correctly, you are attempting to connect to AWS from your on premise kubernetes cluster.  The problem you are encountering is that your company connects to the AWS API using a custom endpoint, not the default public endpoint for ec2 in us-east-1: https://ec2.u

[2020-07-02 03:56] myechuri commented on #141
Thanks, @justnoise !

@saiharshitachava : we will ping you shortly once https://github.com/elotl/kip/pull/143 is merged.

[2020-07-02 03:59] saiharshitachava commented on #141
Thanks everyone @myechuri @justnoise for a quick code change. .Please let me know once this is merged..

I will try it out :)

[2020-07-02 06:58] justnoise commented on #141
The change has been merged and we cut a new release.  You'll want to update `kip/deploy/manifests/kip/base/provider.yaml` and add `endpointURL: "https://your-private-aws-url.com` to the `cloud.aws` section and then re-apply the manifests with: `kustomize build base | kubectl apply -f -`

[2020-07-02 09:52] saiharshitachava commented on #141
Thanks for the fix @justnoise @myechuri

Looks like we have our console integrated with sso and uses saml profile for auth..Does this changes anything with the parameters we are giving?
Does this config need any extra parameters in the provider.yaml?

[2020-07-02 21:25] myechuri commented on #141
@saiharshitachava : What is the output of authentication using saml profile? Is there a way to get an `access_key_id`, `secret_access_key` and (possibly) asession `token`?  Can you create an aws shared credential file? Based on the output of the SSO authentication workflow, we can figure out if the existing parameters in provider.yaml are sufficient or not. Thanks!

[2020-07-03 02:27] saiharshitachava commented on #141
@myechuri  Yes I have a credential file which has ID,Key and the session token in it

[2020-07-03 02:41] myechuri commented on #141
Thanks for clarifying, @saiharshitachava . We will scope out adding session token to provider.yaml and share an update by end of day friday. Thank you for your patience!

[2020-07-03 06:08] justnoise commented on #141
I was a bit slow to realize that, while we can add a session token to provider.yaml, it is possible to specify the session token with an environment variable: `AWS_SESSION_TOKEN`.  That value can be added to kip's container definition (in statefulset.yaml):

[code]

It might not be necessary for this use case, it's good to note that the credentials values in provider.yaml (`accessKeyID`, `secretAc

[2020-07-03 15:04] myechuri commented on #141
Thanks, @justnoise .

@saiharshitachava : please let us know if passing `AWS_SESSION_TOKEN` via environment variable unblocks you. Thanks!

[2020-07-03 15:16] saiharshitachava commented on #141
@myechuri  from the logs it looks like it took creds from env variables..

But the problem is still there I did build a new image by adding our internal proxy (thought below was something with firewall between env) even that dint help

Is there a way you know off to disable the cert check --ssl verify=false or something so that we can bypass this error?

I0703 15:11:01.788467       1 aws.go:94] Ch

[2020-07-03 15:24] myechuri commented on #141
Thanks, @saiharshitachava . We'll look into possible ways to disable cert check and get back shortly.

[2020-07-03 17:23] saiharshitachava commented on #141
@myechuri Could you let me know where kip actually checks for the trusted root certs..Assuming this is go and debian flavour will it search under /etc/ssl/certs/ca-certificates.crt

If thats the case can I replace this cert with my internal trusted certs?would it cause any issues with the startup?

[2020-07-03 19:40] myechuri commented on #141
@saiharshitachava : since replacing default certs with your internal trusted certs is a better option than disabling cert check, we will explore both paths and report back on the quickest path to unblock you.

[2020-07-04 05:08] myechuri commented on #141
@saiharshitachava: @justnoise confirmed that you are correct.  The certs are located at `/etc/ssl/certs/ca-certificates.crt` . Replacing or appending your internal certificate onto `/etc/ssl/certs/ca-certificates.crt` in the kip container is a good way to go.

We've also made a release with another parameter in `provider.yaml`: `insecureTLSSkipVerify`.  That can be used to turn off checking TLS ce

[2020-07-05 10:41] saiharshitachava commented on #141
@myechuri  @justnoise  Good news is AWS checks got passed..yay !!
but now I'm having 509 cert errors while accessing  kubernetes cluster and I believe there is something wrong the api certs..I tried giving the MASTER_URI and the cluter dns manually but my understanding is these should be picked by default..

When I gave these two manually it went on checking for network-agent which it failed to fi

[2020-07-05 14:01] myechuri commented on #141
@saiharshitachava : good to hear that replacing default certs with your trusted root cert worked!

Let me get back on the missing kube-dns service issue shortly. @justnoise is currently on the road and will be back online on tuesday. @ldx and i will look into the issue and share an update latest by monday. Sorry for the delay!

[2020-07-06 06:14] saiharshitachava commented on #141
@myechuri  @ldx  @justnoise I was actually trying to check with curl calls with the existing certs init-cert container is generating.however I think there should be a public cert parameter to give the ca cert same as api cert and key which we give in env vars(--client-ca-file )

Also The certs which are generated by init-cert somehow are not getting authenticated even with the ca cert..So I though

[2020-07-06 15:31] ldx commented on #141
The certificate/key generated by init cert will be used by port 10250 in Kip, not as a client cert.

To connect to the Kubernetes API server, Kip will use its service account token at `/var/run/secrets/kubernetes.io/serviceaccount` (so Kip uses regular in-pod authentication via `InClusterConfig()`).

You're getting that error because the API server certificate does not have 29.91.0.1 as a SAN in i

[2020-07-06 22:45] myechuri commented on #141
@saiharshitachava : please let us know if `subjectAltName` mentioned in the above comment does not help get past the error. Thanks!

[2020-07-07 17:05] myechuri opened #148 "Error starting custom machine type cell on GKE"
1. Provisioned [Nodeless GKE](https://github.com/elotl/kip/tree/master/deploy/terraform-gcp) cluster.

2. `kubectl create -f nginx.yaml`

nginx.yaml:

[code]

3. Nginx pod stuck in `Pending` state. Kip log:

[code]

[2020-07-07 22:47] myechuri commented on #148
Fixed in [PR 149](https://github.com/elotl/kip/pull/149).

[2020-07-07 22:47] #148 closed

[2020-07-07 22:59] myechuri commented on #141
@saiharshitachava : checking in to see if you were able to make progress? Let us know if you are still blocked!

[2020-07-08 02:50] saiharshitachava commented on #141
@myechuri  I will likely test this tomorrow (IST) and get back..

[2020-07-13 19:08] myechuri commented on #141
@saiharshitachava : any luck with getting past the error? Thanks!

[2020-07-13 22:42] myechuri opened #153 "deploy/terraform-aws/main.tf needs a minor update to fix Warning"
[code]

[code]

[blacklisted_zone_ids](https://github.com/elotl/kip/blob/ceeb1eedcd6fe9774ab923abb18ea1a9a8563bf9/deploy/terraform-aws/main.tf#L14) needs to be replaced with `exclude_zone_ids`.  Will submit PR shortly.

[2020-07-15 14:02] ddysher commented on #124
@myechuri Hi, thanks for checking out and sorry for late response. The solution is a bit overkill and we decided to manually scale the infra when needed. kip remains a solution whenever we need more automation!

[2020-07-15 16:49] justnoise commented on #76
I have not seen this issue since updating StopInstance to wait on the operation.

[2020-07-15 16:49] #76 closed

[2020-07-16 09:02] saiharshitachava commented on #141
Sorry for the huge delay..
Im gonna start working on this again today..
will keep the thread posted

[2020-07-16 15:18] saiharshitachava commented on #141
Im facing issues with the init-cert and Im pretty sure its somethign with my env as this worked earlier..

CERT_DAT variable for init-cert is getting added with the kubectl versions not sure where these are coming from though..

These start when the create.csr script starts..This adds to CERT_DIT variable along with cert at the end and the base 64 decode fails..

+ envsubst
/opt/kubectl/1.14
/opt/

[2020-07-16 16:58] ldx commented on #141
@saiharshitachava maybe the CSR approval fails or it takes a long time and times out? Can you provide logs from the init-cert container?

Can you check the CSR via kubectl, e.g. if init-cert created `kip-1594912492` then `kubectl get -oyaml csr kip-1594912492` too?

[2020-07-16 17:05] saiharshitachava commented on #141
@ldx everything is created fine but when we see the cert_data variable in get_csr.sh we see that the the envsubst values like mentioned are added to the variable along with the cert

As a result base64 decode is failing..im clueless right now from where these versions of kubectl are getting attached to the variable

[2020-07-16 17:14] saiharshitachava commented on #141
This variable to be specific https://github.com/elotl/kip/blob/master/scripts/init-cert/csr/get-cert.sh#L53

+ echo '/opt/kubectl/1.14
/opt/kubectl/1.15
/opt/kubectl/1.16
/opt/kubectl/1.17
/opt/kubectl/1.18
LS0tLS1CRUdJTiBDRVJUSUZJQ0FU+++++++++cert+++++++'

+ base64 -d
base64: invalid input

[2020-07-16 17:27] ldx commented on #141
@saiharshitachava OIC what you mean. I think I know what the issue is, let me fix it and get back to you as soon as there's a new build.

[2020-07-16 18:47] saiharshitachava commented on #141
Ok I pulled the latest image of init-cert which was built minutes ago and that issue is resolved...Thanks @ldx

Back to my original issue when I give different alt names which are used by current existing nodes in the cluster and got the same error.. @ldx @myechuri

E0716 18:42:33.445178       1 server.go:423] Could not create new Cell Controller: Error ensuring k8s cell CRD exists in controller:

[2020-07-16 19:02] ldx commented on #141
Great, happy to hear!

When your cluster got created, the API server IP address should have been added to its certificate as a SAN - wondering why it's not in there. As a workaround for now, you can try overriding the following environment variable for the kip container:

        - name: KUBERNETES_SERVICE_HOST
          value: kubernetes.default.svc.cluster.local

[2020-07-16 19:18] saiharshitachava commented on #141
Should i still be giving master uri along with the above parameter?

[2020-07-16 20:32] ldx commented on #141
Are you setting MASTER_URI for the kip container? If yes, what is it set to?

[2020-07-17 05:48] saiharshitachava commented on #141
@ldx we have custom Console URL which we use to access API with port 8001..I was giving that and got errors of SAN

[2020-07-17 09:07] saiharshitachava commented on #141
Also there is something wrong with the api server authentication itself..I guess this isnt happening the way its expected and we are seeing errors from there on..  @ldx  @myechuri @justnoise  Could someone help me on how the pod communicates to api server and get these details..(pods,servicesetc..) I know you said it uses secrets using service token..I see that generated but still pod is failing t

[2020-07-17 09:40] saiharshitachava commented on #141
I tried giving KUBERNETES_SERVICE_HOST as kubernetes.default.svc and no kube config and no master URI..

I see these errors..I want to try giving parameters like below ..Its just that I dunno the keys which KIP can understand..

      api_server: https://kubernetes.default.svc.cluster.local
    scheme: https
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt

[2020-07-17 16:31] ldx commented on #141
By default, Kip uses the pod serviceaccount for authenticating to the API server. Is the above config snippet from a kubeconfig file? If yes, how do you provide the kubeconfig file to pods in the cluster?

We do have some code that allows Kip to use a kubeconfig file, but I'll have to test it to see if it works everywhere when Kip needs to talk to the API server.

[2020-07-17 16:39] saiharshitachava commented on #141
@ldx I see an option in kip with flag --kubeconfig to provide the file..
And the above isnt the snippet from kube-config(just  trying to get a picture of what I wanted to pass)

When I give the api server details in config and pass the file in --kube-config I dont see the api calls going to the server which I gave they by default are going to kubernetes service IP like its somwhere hard coded..

a

[2020-07-17 16:49] ldx commented on #141
That certificate and key (kip-provider0.crt and kip-provider-0.key) are used by Kip for its listener port, it's not a client certificate.

Do you have a kubeconfig file and either a token or a client certificate you can use for authenticating to the API server?

Yes, there's a direct call to InClusterConfig() when the cell controller is set up. I can look into it if you need a kubeconfig file to a

[2020-07-17 16:56] saiharshitachava commented on #141
Yes i do have a kube config file which i can use for authenticating to api server and when i pass it to kip..it doesnt take the api server which i give which somehow makes me think the config from the flag isnt picking up

[2020-07-17 16:57] saiharshitachava commented on #141
Im thinking kube config way is a better way here because i have all these specific ca crt and stuff to paas while authenticating in my env

[2020-07-17 16:59] ldx commented on #141
Let me look into this. As I mentioned, we have some support for using a kubeconfig file, but it's incomplete.

[2020-07-17 17:10] saiharshitachava commented on #141
Sure..thank you..i wanna try giving that configurations in a file as it has lot more features on how we can connect and authenticate to a cluster..

So once authentication is done all the dns stuff and configurations should work by themseleves?the other errors which i gave above?

[2020-07-17 17:25] ldx commented on #141
Once Kip is able to access the API server, it should be able to figure everything else out, if it has the right permissions.

[2020-07-17 17:27] saiharshitachava commented on #141
Great please let me know once kube config flag is complete

[2020-07-18 00:10] ldx commented on #141
I just merged this, documentation is here: https://github.com/elotl/kip/blob/master/docs/kubeconfig.md

[2020-07-18 07:15] saiharshitachava commented on #141
@ldx @myechuri  @justnoise  First step of testing this might have been a success..I was able to succesfully spin the agent and when I do get nodes I could see the kip agent in the nodes..Thanks for all the help..kube config stuff did work :)

kip-provider-0    Ready    agent                    4m48s

So I guess I can start putting the load on server which will create a default instance node in aws

[2020-07-18 08:22] saiharshitachava commented on #141
OK I did try putting pods on the server..but some reason no new AWS insatnces are spinnign up and neither i see that in logs..
It jus keeps checking availbility zones and subnets stuff but never spun an instance in aws vpc..

Events:
  Type     Reason                 Age                 From                           Message
  ----     ------                 ----                ----

[2020-07-18 08:29] saiharshitachava commented on #141
or do I need to follow this steps for using my own custom ami?

https://github.com/elotl/kip/blob/master/docs/cells.md#bring-your-own-image

[2020-07-18 15:35] myechuri commented on #141
@saiharshitachava : you do not need to specify custom ami unless you want to override the default ami.

Can you please share log lines after this line?

CC @justnoise @ldx

[2020-07-18 15:40] saiharshitachava commented on #141
@myechuri i want to use custom ami hence mentioned it in provider yaml

There is no log after that line it continuosly tries to get zones and thats the last line i see in logs till the auth token expires

[2020-07-18 15:57] myechuri commented on #141
@saiharshitachava : ah ok, thanks for clarifying.

Thanks for sharing. Let me look into it and get back once @ldx and @justnoise are back online on monday. Sorry for the delay!

[2020-07-18 16:49] ldx commented on #141
You need an AMI that has the cell agent on it, or have the instance download and start it at boot time via cloud-init.

Another thing you could try is increasing log verbosity, via adding `--v=2` or even `--v=5` to the argument list of Kip.

[2020-07-18 17:21] saiharshitachava commented on #141
@ldx so I essentially add my custom ami as below and upadate the init.yaml with the configuration mentioned so that it fetches at boot time..

Would that change or effect the base ami Im using in anyway?like modyfying the ami and stuff?

  bootImageSpec:
    cloudInitFile: /etc/kip/cloudinit.yaml
    owners: "my id"
    imageID: "ami-name"

cloudinit.yaml: |
  runcmd:
    - apt-get update && apt-g

[2020-07-18 17:30] ldx commented on #141
That should work for a Debian or Ubuntu based image.

Did you try increasing Kip log verbosity?

[2020-07-18 17:45] saiharshitachava commented on #141
I havent yet my ami image doesnt have cell agent so I m trying to follow the steps above..

I just wanted to confirm if there would be any change to my base image if I add a cloud-init.yaml ..Im assuming it would just download the binaries and required configs on to the guests at the time of spinjning an instance and would nt change anything in base ami..Please confirm..

I will be increasing the

[2020-07-18 18:30] saiharshitachava commented on #141
Ok I created a seperate config map for cloudinit.yaml and attached it to the pod as a volume by mentioning it in statefulset..

Giving the log below..I still dont see an instance created and pods are in pending state

kubectl exec -it kip-provider-0 -c kip cat /etc/kip/cloud/cloudinit.yaml
runcmd:
  - zypper update && zypper install -y ipset iproute2 iptables
  - wget -O /usr/local/bin/itzo https:

[2020-07-18 18:49] saiharshitachava commented on #141
I even tried with the elotl ami image..I still see nothing ..When I enable debug loag with level 5..It just shows me the node status updates I posted above..

I0718 18:43:55.805344       1 event.go:281] Event(v1.ObjectReference{Kind:"Pod", Namespace:"kube-system", Name:"image-manager-init-certs-hxjgx", UID:"0cb2aa1d-c926-11ea-9f5e-005056ab3b00", APIVersion:"v1", ResourceVersion:"80054014", FieldPa

[2020-07-18 19:37] ldx commented on #141
Two more things to check:
* Try increasing verbosity for kip temporarily to `--v=5`. Try to create a new pod after you restart it with `--v=5`, and see if there's anything in the logs on Kip starting a new instance for the pod, etc.
* Check the status of Kip cells via `kubectl get cells`.

[2020-07-18 20:01] saiharshitachava commented on #141
I see something like this

I0718 19:58:25.399636       1 podcontroller.go:299] starting workers provider=kip operatingSystem=Linux node=kip-provider-0 watchedNamespace=

kubectl get cells --all-namespaces
No resources found.

[2020-07-19 18:06] ldx commented on #141
Do you have any pods assigned to kip-provider-0? What does `kubectl get pods --field-selector=spec.nodeName=kip-provider-0 -A` show?

[2020-07-20 13:15] saiharshitachava commented on #141
yes there are..All the pods are ds except the one which says test..Anything I can check in AWS console before the node spins up.?

NAME                                                 READY   STATUS    RESTARTS   AGE
audit-logging-fluentd-ds-zl7cv                       0/1     Pending   0          9m31s
calico-node-8txlk                                    0/1     Pending   0          9m31s
test-57

[2020-07-20 13:48] saiharshitachava commented on #141
This is log of kip..The thing which is concerning to me is the subnet ID its not pocking the subnet ID I gave in provider.yaml but implicitly using a different one..Is that expected?mostly posted the log rest all is node status ping and pong

I0720 13:02:10.222657       1 reflector.go:153] Starting reflector *v1.Pod (1m0s) from k8s.io/client-go/informers/fact
ory.go:135
I0720 13:02:10.222800

[2020-07-20 17:47] saiharshitachava commented on #141
@ldx @myechuri @justnoise Any ebug mode or manual check which I could do inside kip container to check if kip can bring up the aws instance?

At this point I dont see much in logs of kip like why there is no instance coming up..if we can manually trigger teh call from within the container to aws might be we see an error?

Please let me know if this is possible..

Also I do have a IAM role which I

[2020-07-21 00:29] justnoise commented on #141
Hi @saiharshitachava, thanks for your patience with this process.

I've read through the logs you posted (those were helpful!), traced through the code to double check some assumptions and I'm very curious why instances are not being created for your pods.  I see that the pods are being created in K8s, and then in the kip-provider.  At that point, kip should see that there are pending pods and cre

[2020-07-21 01:32] myechuri commented on #141
@saiharshitachava : would you be open to joining our Slack channel to shorten response time while we triage this issue? If so, can you please send me your email address? i am at madhuri@elotl.co .  Thanks!

[2020-07-27 20:58] joh4n opened #159 "Issue setting up kip with minikube"
Hi, I just came across kip and wanted to try it out with minikube. I have gone trough the installation instructions several times and I still can not get it to run correctly.

It looks like some pods and  or nodes does not get created properly when staring kip.

First I add the aws credentials in `deploy/manifests/kip/base/provider.yaml`
then.
[code]

I get the output
[code]

I do not see any pods

[2020-07-27 21:05] myechuri commented on #159
Thanks a lot for trying kip, @joh4n !

If you want to use kip on minikube, kustomize scrips in `https://github.com/elotl/kip/blob/master/deploy/manifests/kip/overlays/minikube/` are a better choice. Can you please retry with manifests in this directory? If you still do not see kip node, `kubectl -n kube-system get pods` should show `*kip*` pod. Can you please share `kubectl logs` from kip pod? Tha

[2020-07-27 21:22] justnoise commented on #159
One other note: We updated the name of the kip pod to `kip-provider-0` and missed updating the references in the README and troubleshooting doc. Apologies!

As @myechuri pointed out, you'll want to give the minikube manifests a shot. Minikube is a bit of a different setup for kip and you'll need to configure a couple additional items to make kip work (check out the instructions here: https://githu

[2020-07-28 11:40] joh4n commented on #159
I missed the minikube folder thx. However, I followed the instructions in:  https://github.com/elotl/kip/blob/master/deploy/manifests/kip/overlays/minikube/kustomization.yaml#L1-L26

with  provider.yaml
[code]

and kustomization.yaml
[code]

with that kustomiztion.yaml I get the error
[code]
so I updated it with
[code]

that runs but I get the error:
[code]

[2020-07-28 14:55] myechuri commented on #159
Hi @joh4n ,

Can you please run `kubectl logs -n kube-system kip-provider-0 kip` ? `kip-provider-0` is a pod with `kip` container in it, and we would be interested in logs from `kip` container.

Also, can you please confirm if you see `kip-provider-0` in the output of `kubectl get nodes`? Thanks.

[2020-07-28 17:21] myechuri commented on #159
@joh4n : kip trial is currently setup for `us-east-1` region . Apologies for not calling this out in the readme, we will update readme. Can you please try `us-east-1`? Thanks.

[2020-07-28 17:59] joh4n commented on #159
This is with us-east-1 as a region.

![Screenshot from 2020-07-28 19-52-47](https://user-images.githubusercontent.com/22212256/88703140-a10cba00-d10c-11ea-9bc5-e3a8640e7e05.png)
(ignore `fatal: ref HEAD is not a symbolic ref` it is a set up issue in my zsh when I check out a tag and I have been to lazy to fix it)

[2020-07-28 22:14] myechuri commented on #159
@joh4n : let me repeat your steps with your your `kustomization.yaml` and see if i can reproduce your error. Will update by the end of the day.

[2020-07-29 02:58] myechuri commented on #159
@joh4n : i reproduced your `CreateContainerConfigError` error in my local setup. The cause of failure is below:

[code]

This is because of minikube kustomize overlay scripts being out of sync with base. Let me fix that and share an update by the end of day PT wednesday.

[2020-07-29 03:12] myechuri opened #161 "`deploy/manifests/kip/overlays/minikube` kustomize scripts are outdated"
See [issue 159 comment](https://github.com/elotl/kip/issues/159#issuecomment-665401713) for details. Top of tree `deploy/manifests/kip/overlays/minikube` leads to `CreateContainerConfigError`.

[2020-07-29 04:11] myechuri commented on #159
@joh4n : the issue is now fixed in master. There were two issues:
1) Instructions in the beginning of `overlays/minikube/kustomization.yaml` were outdated. This is what you followed and ran into failed apply.

2) We switched from listing AWS credentials in `provider.yaml` to specifying it via a secret in some of the deploy paths (minikube, provision your own cluster, burst kip workloads from on-pr

[2020-07-29 04:11] myechuri commented on #161
[Fixed](https://github.com/elotl/kip/pull/162).

[2020-07-29 04:11] #161 closed

[2020-07-29 17:39] justnoise commented on #159
Also, we've distributed our images across all AWS regions so you can now run in us-central-1.

[2020-08-01 08:30] myechuri commented on #159
@joh4n : checking in to see if you were able to make progress with your minikube env? Please let us know if there are any further issues. Thanks!

[2020-08-05 00:23] #153 closed

[2020-08-10 20:41] justnoise opened #165 "Resizing pod root volume is broken"
When starting a pod with an annotation:

      annotations:
        pod.elotl.co/volume-size: "40G"

Starting the pod fails:

[code]

[2020-08-24 16:45] #141 closed

[2020-08-24 16:47] #159 closed

[2020-08-24 16:48] #124 closed

[2020-08-24 16:49] ldx commented on #78
Is this still an issue?

[2020-08-24 16:51] ldx commented on #25
@justnoise some of these have been fixed since. Should we break the remaining ones out into separate issues?

[2020-08-24 16:53] ldx commented on #104
This is fixed, right?

[2020-08-24 16:56] ldx commented on #165
Related: https://github.com/elotl/itzo/pull/96

[2020-08-24 17:07] justnoise commented on #104
Not yet.  GCE credentials need to be added to .travis.yaml and then the GCE functional tests need to be enabled in the build.

[2020-08-24 17:14] justnoise commented on #25
@ldx: Sure.

[2020-08-24 17:15] justnoise commented on #78
Yes

[2020-08-27 07:26] 241423 opened #169 "Problem with deploy KIP on AWS EKS cluster"
Hello. I have a problem with run KIP on AWS eks cluster. First I have created eks with this instruction: https://docs.aws.amazon.com/eks/latest/userguide/getting-started-console.html. I tested cluster and a can run deployments. Next, I cloned KIP repo and added credentials (accessKeyID and secretAccessKey) to kip/base/provider.yaml file. Next I executed "kustomize build base/ | kubectl apply -f –"

[2020-08-27 15:46] myechuri commented on #169
@241423 : thank you for trying kip!

[code]

From above log, it looks like the AWS credentials kip received are invalid. Can you please confirm that `accessKeyID` and `secretAccessKey` filled in `kip/base/provider.yaml` file are valid?

Meanwhile, i will reproduce your steps and see i get the same error. Will update the issue with findings. Thanks.

[2020-08-28 04:56] justnoise opened #171 "GCE Custom Instance Selector: Invalid amount of memory chosen"
Looks like the instanceSelector creates invalid custom instances in GCE.  When running a pod in GCE with the following resource requests/limits:

[code]

We get the following error:

[code]

I've confirmed this with the following test case in `TestGCEResourcesToInstanceType`:

[code]

This issue is a problem since one of the daemonSets in GKE creates a pod with these resource limits.

[2020-08-28 16:01] ldx commented on #171
That is 0.9GB of memory and comes from the script generating instance data: https://github.com/elotl/kip/blob/master/scripts/create_instance_data/create_gce_instance_data.py#L33

https://cloud.google.com/compute/docs/instances/creating-instance-with-custom-machine-type#n1_custom_machine_types says "For N1 machine types, select between 0.9 GB and 6.5 GB per vCPU, inclusive", but apparently an addit

[2020-08-28 23:33] #171 closed

[2020-08-30 21:10] ldx commented on #169
@241423 if you rely on IAM instance profiles for AWS authentication (if you used `kustomize build base | kubectl apply -f -`, then by default that assumes this), please make sure the permissions documented at https://github.com/elotl/kip/blob/master/docs/kip-iam-permissions.md are present in the IAM instance profile that is attached to the worker nodes.

Another common source of issues is a typo i

[2020-08-30 23:03] myechuri commented on #169
Thanks for the pointers, @ldx !

[2020-09-03 09:42] 241423 commented on #169
Hi guys! Thank You for fast response. The problem has been solved. I prepared the environment from scratch and it worked fine. It could be my fault attributing policies to the wrong node role. Now, I have another one problem and it could be related to source code. So, After solving the problem, I implemented kip then wanted to stop it with this command.

`kubectl delete statefulset kip-provider -n

[2020-09-03 10:57] 241423 commented on #169
Hi guys! Thank You for fast response. The problem has been solved. I prepared the environment from scratch and KIP started. It could be my fault attributing policies to the wrong node role. Now, I have another one problem and it could be related to source code. So, After started kip, I wanted to stop it with this command.

`kubectl delete statefulset kip-provider -n kube-system`

I could not stop

[2020-09-03 23:17] ldx commented on #169
@241423 `extraSecurityGroups` should go inside `cells` in provider.yaml, example:

    cells:
      defaultInstanceType: t3.nano
      bootImageSpec:
        owners: 689494258501
        filters: name=elotl-kip-*
      itzo:
        url: https://itzo-kip-download.s3.amazonaws.com
        version: latest
      extraSecurityGroups:
      - sg-12345678

As for the nil pointer dereference, I opened a

[2020-09-08 06:20] #169 closed

[2020-09-08 22:26] #165 closed

[2020-09-14 16:01] hidalgopl opened #176 "Cannot ping an AWS cell using go v1.15"
I built kip locally with go v1.15 and I'm mounting it as a volume, as described here: https://github.com/elotl/kip-minikube/

It starts normally, but when I tried to run nginx on virtual node, it seems that node_controller cannot (first few tries result in connection refused, but I guess it's expected as EC2 instance is booting) ping the cell:
[code]
It's not an issue for me right now, as I can al

[2020-09-22 15:53] #85 closed

[2020-09-24 00:05] justnoise opened #178 "Pass pod.elotl.co/ annotations through to itzo"
We want to allow annotations to change how itzo does things.  Specifically we are interested in implementing this issue: https://github.com/elotl/itzo/issues/101

Here are some rough notes on how this can happen:
1. Annotations are already copied from k8s pods to kip pods in `pkg/server/convert.go:k8sToMilpaPod`. A suggested name for a new annotation was `image-overlay-rootfs` and the value should

[2020-09-29 16:59] ldx commented on #107
We need to do some research on node leases: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/0009-node-heartbeat.md

It seems to work around the problem via allowing nodes to get a longer lease to ensure a restart of the provider won't evict pods prematurely.

[2020-10-27 21:25] jrroman commented on #107
After research i have found that enabling node leases alone in VK does not bypass this issue as VK is still sending node status updates which still causes the pods to terminate prematurely.

There is an open WIP  https://github.com/virtual-kubelet/virtual-kubelet/pull/883/files which will allow setting a flag to disable node status updates.

There is also another which will update the VK code base

[2020-10-27 23:43] ldx opened #184 "Support service account linked IAM roles in EKS"
Right now this does not work. On a regular worker node:

    # env | grep AWS
    AWS_ROLE_ARN=arn:aws:iam::111111111111:role/test-role
    AWS_WEB_IDENTITY_TOKEN_FILE=/var/run/secrets/eks.amazonaws.com/serviceaccount/token
    root@test-5689c4f7c7-tvnjf:/# ls -l $AWS_WEB_IDENTITY_TOKEN_FILE
    lrwxrwxrwx 1 root root 12 Oct 27 16:21 /var/run/secrets/eks.amazonaws.com/serviceaccount/token -> ..dat

[2020-11-03 14:24] hidalgopl opened #187 "Emit pod k8s events"
Currently user sees only one event if the pod was scheduled successfully: `ProviderCreateSuccess` comparing to `Scheduling -> Scheduled -> Pulling -> Pulled -> Running` feedback from pod running on not virtual nodes.

Another useful feature from user experience standpoint would be sending informations about cell state changes during provision to kip stateful set.

There is some work started on bra

[2020-11-23 18:03] hidalgopl opened #191 "Automate getting instance data"
Currently, keeping instance data up-to-date is hard, as they are generated by bunch of [home-grown scripts](https://github.com/elotl/kip/tree/master/scripts/create_instance_data) which are run manually (and then commited to repo).

To avoid maintaining those scripts, we should use ready solution to get info and pricing about instances across various providers.
Possible solution can use [banzaiclou

[2020-12-10 22:01] ldx opened #194 "Use secure channel to distribute cell certificate, key and configuration"
Right now Kip uses cloud-init files (i.e. instance meta-data) to distribute configuration and files that might contain sensitive information.

Instead, we need an option to have Kip use a channel that is secure to push data or configuration to cells when provisioning them.

[2020-12-18 13:13] hidalgopl opened #196 "Update terraform files to support terraform >0.13"
`terraform init` in `deploy/terraform-aws` fails with
[code]
we should fix those errors and warnings, so they works with latest terraform version.

[2020-12-22 08:52] #191 closed

[2020-12-23 11:57] hidalgopl opened #198 "Support for dedicated hosts"
Currently Kip only supports regular on-demand and spot instances. Managing the lifecycle of dedicated hosts comes with additional steps. The goal is to support Dedicated Hosts in a transparent manner: the operator of Kip should be able to dispatch pods to dedicated hosts without manual steps (once they have an AWS quota). We might need to add either extra logic to the AWS backend that knows which

[2020-12-29 17:47] #194 closed

[2021-01-04 18:10] jrroman commented on #107
This issue is currently being addressed by the creation of the kip-uptime service. As VK matures towards its open node lease pull requests we can reevaluate whether node-leases will solve this problem.

[2021-01-05 18:14] #178 closed

[2021-01-05 19:55] ldx commented on #107
@jrroman I think we can close this one if you agree?

[2021-01-05 21:21] jrroman commented on #107
@ldx I would agree with you this kind of stale now that kip-uptime exists. We can create an issue which relates to testing node leases when they become more stable to see if this eliminates our need for kip-uptime

[2021-01-05 21:21] jrroman commented on #107
Closing issue refer to above comment.

[2021-01-05 21:21] #107 closed

[2021-01-07 18:53] ldx opened #202 "Allow using AMIs built for architectures other than amd64"
Right now kip can only use one AMI specified via `bootImageSpec` in provider.yaml.

However, AMIs are specific to the OS and CPU architecture. To support other architectures and OSes (ARM, mac1, etc) we need to be able to specify a boot image filter for each.

[2021-01-07 20:36] #196 closed

[2021-01-11 14:11] hidalgopl commented on #202
@ldx @jrroman @henryprecheur What you guys think of having something really generic, such as:
[code]

[2021-01-11 16:15] jrroman commented on #202
@hidalgopl so the issue i see with this is it will break reverse compatibility with previous releases of kip. We could potentially add this for additional ami fields while keeping the base of owner and filter.  This is the way i have been testing currently:

[code]

[2021-01-11 16:48] hidalgopl commented on #202
@jrroman You're right, I haven't thought about it. We can keep backwards compatibility by keeping what I proposed under new key:
[code]
Big question is how flexible this feature needs to be. And whether we want to have different AMI for different arch, or different AMI for different instance type familiy.
For our current needs keys you added are fully sufficient. However, if ever we want to be abl

[2021-01-11 18:26] ldx opened #204 "Add instance family -> architecture map to instance selector"
To support architectures other than x86-64, we need an instance family -> architecture map. This could either go into the instance selector, or the script generating the instance data json could also add it to the json.

[2021-01-11 18:29] ldx opened #205 "Add map of instance families that support running as dedicated hosts to instance selector"
Since not all instance families support running on dedicated hosts, we need a map of instance family -> dedicated host support true/false. This can be hardwired into the instance selector for now, or the script generating the instance data json could add it to the json.

[2021-01-11 18:41] ldx opened #206 "Provisioning documentation and configuration for standing up a cluster that can run mac1 instances"
For testing and development purposes, we need to be able to quickly set up a new cluster that is able to run mac1 instances.

[2021-01-12 19:09] #198 closed

[2021-01-12 19:50] ldx commented on #202
`bootImageSpec` is a `map[string]string`, so making some values in the map lists or other data structures would break compatibility. I think an architecture prefix to keys should be a good first shot without adding too much complexity. We should get a canonical list of architectures and use those (i.e. same ones AWS uses in describe-images, e.g. x86_64, x86_64_mac, etc). So an example bootImageSpe

[2021-01-14 16:56] #176 closed

[2021-01-14 16:59] henryprecheur commented on #176
FYI: after 3 days trying to get the minikube cluster work I wasn’t able to reproduce the issue. I’m pretty sure the patch fixes it.

3 days is way too much time to spend on this, so I just merged the PR. I don’t think there is much value to be created with me spending another day confirming the bug is fixed.

[2021-01-19 21:01] henryprecheur opened #214 "Implement instance selector back-pressure"
Occasionally Availability Zones run out of instance types:

[code]

The instance selector is too rigid, it picks the instance type based solely on cpu+memory needs and instance prices, it'll keep trying to start the same one even when it is out of capacity ATM in the AZ.

The cluster autoscaler does not handle this situation gracefully, you are expected to max instance types/families in the same A

[2021-01-25 18:17] ldx opened #216 "Make sure dedicated host is "available" before launching an instance onto it"

[2021-01-28 19:03] henryprecheur opened #218 "Make sure the Base AMI is ready for the VM template"
Disable spotlight
Clean-up stuff in the home dir
etc...
+ check Anka recommendations

[2021-01-28 22:53] henryprecheur commented on #218
The image looked already quite clean. I removed the Brew cache (~6GB) and disabled spotlight.
AMI ID: ami-0863ffa4df7faae7e

[2021-01-28 22:53] #218 closed

[2021-02-03 19:00] #216 closed

[2021-02-04 15:10] hidalgopl opened #222 "Set all needed EBS params in RunInstance request"
I noticed that if the AMI is created with gp3, iops and threshold set to values other than default, `RunInstances` request will fail.
I bet this happens because we do not get those params from `GetImage` method. Also, it looks like aws ec2 sdk version that we're using does not have all the fields that can be specified for ec2 EBS Block Device (`Threshold` is missing).
[AWS API docs ref](https://do

[2021-02-16 11:07] #222 closed

[2021-02-17 13:53] #214 closed

[2021-02-17 16:17] #206 closed

[2021-03-03 22:35] makrusak opened #224 "Redundant Ticker"
https://github.com/elotl/kip/blob/7c6595101c2854c55b23b339ff70c59298057cdc/pkg/server/nodemanager/node_controller.go#L689
Why is this `Ticker` needed? It looks like it's not used anywhere.

[2021-03-08 20:04] ldx commented on #224
Thanks! I put up a PR that removes the ticker.

[2021-03-11 00:30] #224 closed

[2021-03-12 12:13] hidalgopl opened #226 "Implement GetDNSInfo for azure"
Currently, running kip on azure fails on ```kip-provider-0 kip I0312 12:06:01.140579       1 server.go:300] creating DNS configurer
kip-provider-0 kip Error: error initializing provider kip: creating DNS configurer: getting cloud DNS info: Unimplemented```

This is used later by PodController to deploy resolve.conf for pods. Should be implemented [here](https://github.com/elotl/kip/blob/master/pkg

[2021-03-12 12:14] hidalgopl opened #227 "Document provider configuration for azure"
Provide kustomize overlay with example values that are needed for kip to run inside AKS cluster.

[2021-03-12 12:21] hidalgopl opened #228 "Fix parsing virtualNetwork name for azure"
Currently, we don't return an error if `cloud.azure.virtualNetworkName` is not in required format `resource-group-name/vnet-name`.
It fails later with 404 when it tries to fetch virtual network details. We should either clarify required format in `cloud.azure.virtualNetworkName` or have another required field in config `cloud.azure.resourceGroup`. Anyway, we should return verbose error if any of t

[2021-03-12 12:26] hidalgopl opened #229 "Create azure VM cell image"
Currently, we don't have azure counterpart for AWS AMI and GCE vm image.
For alpha, creating such image manually should be fine; eventually we should have it automated in [kip-cell-image](https://github.com/elotl/kip-cell-image) pipeline. Here's [azure tutorial](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/build-image-with-packer) how to automate it.

[2021-03-18 09:40] hidalgopl commented on #229
WIP image was built: `elotl-kipdev-v1.0.7-16-gedc3605`
There is a draft PR: [#7](https://github.com/elotl/kip-cell-image/pull/7) we should start from there.

[2021-03-25 09:30] #228 closed

[2021-04-19 09:57] hidalgopl opened #235 "KIP init-cert does not work on EKS 1.19"
Kip uses [init-cert image](https://github.com/elotl/kip/tree/master/scripts/init-cert) as initContainer to get a certificate that allows communication with API server.

init-cert image creates certificates.k8s.io CertificateSigningRequest object and approves it using kubectl; control plane should issue a certificate and update this object status.certificate. However, it seems to be broken in EKS 1

[2021-04-21 15:02] hidalgopl opened #237 "updating pricing data for EC2 instances stopped working"
KIP selects cheapest possible instance to satisfy resource spec of the pod.
This is handled in [instance selector package](https://github.com/elotl/kip/blob/master/pkg/util/instanceselector/instanceselector.go).
Instance selector makes informed decision based on EC2 pricing data.
EC2 pricing data is either:
 1. a json file in correct format mounted in container under the path specified as kip flag

[2021-05-21 10:32] hidalgopl opened #238 "KIP does not support BoundServiceAccount Token Volume"
KIP currently has issues with running in `v1.21.x` kubernetes cluster, because since `v1.21.0` BoundServiceAccountTokenVolume feature gate [is enabled by default](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume), as it reached beta.

This result in KIP failure, due to fail in init container. If we patch service account token manual

[2021-06-24 05:05] sunstick opened #241 "Terraform main.tf doesn't work with mac with apple m1 chip"
We need to update the version for most of the [required_providers](https://github.com/elotl/kip/blob/f487690c0fedebe997c5ba058a03420ee8d6b086/deploy/terraform-aws/main.tf#L5).

Search in https://registry.terraform.io/ for the latest provider version.

[2021-07-12 18:43] #235 closed

[2021-07-27 15:12] hidalgopl opened #244 "Add smoke test for GKE"
We currently have terraform scripts for running KIP in GKE cluster. Recently, we had to [fix it](https://github.com/elotl/kip/pull/243). We should be more proactive; adding smoke test similar to the one we [recently added for EKS](https://github.com/elotl/kip/pull/242) would be good first step.

Possible smoke test scenario would be provisioning GKE cluster with current default GKE version; deploy

[2021-09-14 18:28] bcle opened #246 "service account token missing in pod"
Pods using in-cluster authentication are failing because `/run/secrets/kubernetes.io/serviceaccount/token` is missing from their file system. I am using this KIP provider version:
[code]
on a AWS cluster recently created using KIP's terraform script.

One way to reproduce this problem is to start a simple ubuntu pod that runs an infinite loop:
[code]
Then, this command shows the contents of `/run/

[2021-09-14 18:31] bcle commented on #246
This command shows that the serviceaccount directory appears correctly mounted. It's just that its contents are missing the token file:

[code]

[2021-09-14 19:19] bcle opened #247 "failing container does not increase Restart count, and log content is unexpected"
On a "normal" pod running on a traditional (not KIP) node, when a container fails, it is restarted, and the pod's restart count for that container is incremented.
With a KIP pod, the behavior is different in the following ways:
- The restart count is not incremented
- The State of the container is always Running, instead of the expected transitions between Terminated and Waiting.
- The output of `

[2022-02-04 09:22] GuopingJia opened #248 "issues deploying pods to kip provider in minikube"
I've managed to set up the kip provider to my minikube cluster by following up your scripts in deploy/manifests/kip/overlays/minikube/ (with provided aws credentials in provider.yaml):

$ k get nodes
NAME             STATUS   ROLES                  AGE    VERSION
kip-provider-0   Ready    agent                  19h
minikube         Ready    control-plane,master   175d   v1.20.2

Then, I've started

[2022-02-04 10:58] GuopingJia opened #249 "Singularity support in KIP provider"
We are integrating the Singularity to our K8s cluster, rather than using Docker as container runtime, esp., for HPC workloads. Is the Singularity container runtime supported in Kip provider ? so we can deploy Kip and try the cloud bursting to other public cloud providers.

This probably a question to Virtual Kubelet. But there could be something that's required or supported in Kip provider. We are